<div id="allContainer">

    <div class="p-d-flex p-ai-center p-jc-center" style="height: 100%;">
        <div class="p-d-flex p-ai-center p-jc-center">
            <div *ngFor="let nodeValue of llArray, index as i" style="margin: 0px 30px; position: relative;" >
                <app-node-box [nodeValue]="nodeValue" [nodeIndex]="i" [nodeStates]="nodeStates"></app-node-box>
                <app-arrow style="position: absolute; top: 15%; left: 85%; transform-origin: 0% 50%;" [arrowIndex]="i" [arrowStates]="arrowStates"></app-arrow>
            </div>
            <h5 style="font-weight: bolder; color: var(--bluegray-600); margin-left: 20px;">NULL</h5>
        </div>
    </div>


    <!-- FOOTER MENU -->
    <div id="footerMenu" style="width: 100%; background-color: var(--surface-100); position: absolute; bottom: 0;">
        <div class="container-fluid">
            <div class="row">

                    <div class="col-md-3 px-4">
                        <h3>Enter Node</h3>
                        <form class="m-2" #form="ngForm">
                            <div class="mb-3">
                                <label for="value" class="form-label">Value:</label>
                                <input type="number" name="value" class="form-control" [(ngModel)]="value" placeholder="Enter value">
                            </div>
                            <div class="mb-3">
                                <label for="index" class="form-label">Index:</label>
                                <input type="number" name="index" class="form-control" [(ngModel)]="index" placeholder="Enter index">
                                <span class="form-text">Only for insert/delte at index</span>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-3 px-4">
                        <h3 class="mb-4">Insertions:</h3>
                        <div class="row mb-3">
                            <button class="btn btn-primary" (click)="insertHead()" [disabled]="btnDis">Insert at Head</button>
                        </div>
                        <div class="row mb-3">
                            <button class="btn btn-primary" (click)="insertIndex()" [disabled]="btnDis">Insert at Index</button>
                        </div>
                        <div class="row mb-2">
                            <button class="btn btn-primary" (click)="insertLast()" [disabled]="btnDis">Insert at Last</button>
                        </div>
                    </div>

                    <div class="col-md-3 px-4">
                        <h3 class="mb-4">Deletions:</h3>
                        <div class="row mb-3">
                            <button class="btn btn-dark" (click)="deleteHead()" [disabled]="btnDis">Delete at Head</button>
                        </div>
                        <div class="row mb-3">
                            <button class="btn btn-dark" (click)="deleteIndex()" [disabled]="btnDis">Delete at Index</button>
                        </div>
                        <div class="row mb-2">
                            <button class="btn btn-dark" (click)="deleteLast()" [disabled]="btnDis">Delete at Last</button>
                        </div>
                    </div>

                    <div class="col-md-3 px-4">
                        <h3>Create new:</h3>
                        <form class="m-2" #createForm="ngForm" (ngSubmit)="createNewLinkedList()">
                            <div class="mb-3">
                                <label for="values" class="form-label">Values:</label>
                                <input type="text" name="value" class="form-control" [(ngModel)]="values" placeholder="10,20,30,...">
                                <span class="form-text">Insert ONLY numbers separated with comas, no spaces in between.</span>
                            </div>
                            <button class="btn btn-success" type="submit" [disabled]="btnDis">Create new Linked List</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>

</div>
